<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <div class="toolbar-wrapper">
      <ion-buttons slot="start">
        <ion-icon (click)="openMenu()" name="menu-outline" class="icon"></ion-icon>
        <!--  <ion-menu-button></ion-menu-button>  -->
      </ion-buttons>

      <ion-title class="app-title">{{ pageTitle }}</ion-title>
      <ion-icon class="icon header-search-icon"
                name="search-circle-outline"
                (click)="toggleSearch()"
      ></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" contentId="menuContent">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>Inbox</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>Outbox</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label>Favorites</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="menuContent"></ion-router-outlet>
