<app-header (searchClickEvent)="toggleSearch($event)"></app-header>

<ion-content [fullscreen]="true">

  <ion-searchbar animated [ngClass]="{'ion-hide': !showSearch}"></ion-searchbar>

  <!-- todo: replace with header component -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">IT START</ion-title>
      <ion-icon name="search-circle-outline"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <app-home-slider></app-home-slider>

  </div>
</ion-content>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar" class="icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map" class="icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline" class="icon"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
